@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
padding:0;
margin:0;
box-sizing:border-box;
}

body{
background:rgba(34,49,63,1);
}

#prompt{
height:30%;
width:60%;
margin:auto;
margin-top:50%;
}

#form{
position:absolute;
padding-top:50%;
background:blu;
text-align:center;
position:relative;
height:100%;
}

.login{
position:relative;
width:100%;
height:80px;
margin-bottom:20px;
border:0;
border-radius:80px;
background:rgba(255,255,255,0.8);
font-size:30px;
padding:20px;
transition:background 0.3s ease;
font-family: 'Montserrat',Georgia;
}

.login::placeholder{
text-align:center;
color: black;
}

.btn{
padding:20px;
width: 45%;
border:0;
margin: 10px;
border-radius:80px;
background:rgba(0,108,95,1);
transition: all 0.4s ease;
font-size:30px;
color:white;
float: left;
}

#register{
  float: right;
}

.btn:active{
background:rgba(0,108,95,0.8);
color:lightgray;
}

.login:active{
background:rgba(255,255,255,0.6);
}

#head{
  color: white;
  font-family: 'Montserrat';
  font-size: 70px;
  margin: 30px;
  text-align: center;
}